* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.app-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  border: 0px;
  border-radius: 12px;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
}
